<head>
<meta name = "viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


</head>

<body>
<div class = 'hedder'>
  <%= link_to image_tag("humberger.jpg", class:"humberger"), "/" %>
  <div class = 'logo-white-wall'>
    <%= link_to image_tag("logo.jpg", class:"logo"), "/" %>
  </div>
</div>
<div class = 'top'>
  <video class = "top-gif" loop muted autoplay playsinline>
    <source src="top2.mp4" type="video/mp4" >
  </video>
</div>
<div class = 'white-wall'>
  <div class = 'body-contents'>
    <div data-aos="fade-up" class = "products-wrap">
      <div class = 'title'>
        <p>Products</p>
      </div>
      <ul class = 'products-contents'>
        <li class = 'products-container'><%= link_to image_tag("ladies.jpg", class:"products-image"), "/" %></li>
        <li class = 'products-container'><%= link_to image_tag("men.jpg", class:"products-image"), "/" %></li>
        <li class = 'products-container'><%= link_to image_tag("backpack.jpg", class:"products-image"), "/" %></li>
        <li class = 'products-container-none'><%= link_to image_tag("cap.jpg", class:"products-image-none"), "/" %></li>
      </ul>
    </div>
  </div>

  <div class = 'body-contents'>
    <div data-aos="fade-up" class = 'events-upper-content'>
      <div class = 'title'>
        <p>Events</p>
      </div>
      <div class = 'events-upper-image-text'>
        <div class = "image-upper-container">
          <%= link_to image_tag("woman.jpg", class: "events-upper-image"), "/" %>
        </div>
        <div class = 'events-texts'>
          <div class = 'events-text-bold'>
            <p>秋冬ニット新作特集</p>
          </div>
          <div class = 'events-text-regular'>
            <p>軽さと独創性をこだわった</p>
            <p>新作ニットが仲間入り。</p>
          </div>
        </div>
      </div>
    </div>
    <div data-aos="fade-up" class = 'events-bottom-content'>
      <div class = 'events-bottom-image-text'>
        <div class = 'events-texts'>
          <div class = 'events-text-bold'>
            <p>新作秋色リュック</p>
          </div>
          <div class = 'events-text-regular'>
            <p>実際の紅葉から</p>
            <p>色素を取り出した</p>
            <p>他にはない秋色リュック</p>
          </div>
        </div>
        <div class = "image-bottom-container">
          <%= link_to image_tag("man.jpg", class: "events-bottom-image"), "/" %>
        </div>
      </div>
    </div>
  </div>

  <div class = 'body-contents'>
    <div data-aos="fade-up" class = 'producers-content'>
      <div class = 'title'>
        <p>Producers</p>
      </div>
      <div class = 'producers-image-text'>
        <div class = "producers-image-container">
          <%= link_to image_tag("white-shirt.jpg", class: "producers-image"), "/" %>
        </div>
        <div class = 'events-texts'>
          <div class = 'events-text-bold'>
            <p>カプ国の職人たち</p>
          </div>
          <div class = 'events-text-regular'>
            <p>私たちは、カプ国に自社工場を持ち、</p>
            <p>約100人の職人たちと</p>
            <p>ものづくりをしています。</p>
            <p>職人たちとともに、</p>
            <p>あなたの好きなもので溢れる毎日を</p>
            <p>実現していきます。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class = 'body-contents'>
    <div data-aos="fade-up" class = 'map-container'>
      <div class = 'title'>
        <p>Map</p>
      </div>
      <%= image_tag "map.jpg", class: "map-image" %>
    </div>
  </div>

  <div class = 'footer'>
    <p>この作品はフィクションであり、実在する人物・団体等と関係ありません。</p>
    <p>This is a work of fiction.</p>
    <p>Any similarity to actual persons or events is unintentional.</p>
  </div>
</div>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
  duration: 2000,
  anchorPlacement: 'top-center',
  delay: 50,
  once: true, 
});
</script>

</body>